 

.form-control-feedback {
  position: absolute;
  top: .5rem;
  right: 1.5rem;
  z-index: 2;
  display: block;
  text-align: center;
  pointer-events: none;
}

.sucess-text{
    font-size:28px;
    margin-left:20px;
    color:green;
}
.error-text {
  font-size: 28px;
  margin-left: 20px;
  color: green;
}
.mandatory {
    color:red;
    margin-left:5px;
}
